<html>
<head>
    </style>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <style> 
        body {
            margin: 50px ;
        }
    </style>
</head>
<body>
    <div class="page-header">
        <h1><span class="label label-primary">Add your Rating</span></h1>
    </div>
        <h4>We predict that your rating will be {{ '%.02f' % prediction }}.</h4>
    <form role="form" class="form-inline" action="/addratingprocess" method='POST'>    
        <div class="form-group">
            <label for="movietitle">Movie Title</label>
            <input type="text" value='{{title}}' id="movietitle" name="movietitle" />
        </div>
        <div class="form-group">
            <input type="hidden" value="{{movieid}}" id="movieid" name="movieid" />
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="rating" id="rating" name="rating" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</html>