<html>
    <head>
         <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
      <style> 
        body {
            margin: 50px ;
        }
        h4 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>
        <span class="label label-primary">Movie List</span>
    </h1><br>

    <h4>Click on a movie to rate it!</h4>
    <!-- <table BORDER="1"    WIDTH="100%"   CELLPADDING="5"> -->
    <table class="table table-hover">
    <tbody class="table-striped">
    {% for movie in movie_list %}
        <tr>
            <td><strong>Title:</strong> <a href="/addrating/{{movie.id}}">{{ movie.name }}</a></td>
            <td><strong>Release Date:</strong> {{ movie.released_at }}</td>
            <td><a href="{{movie.imdb_url}}">More information</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>