<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style> 
        body {
            margin: 50px ;
        }
    </style>
</head>
<body>
    <div class="page-header">
        <h1><span class="label label-primary">Update your Rating</span></h1>
    </div>
    <form role="form" class="form-inline" action="/ratingprocess" method='POST'>
        <div class="form-group">
            <label for="movietitle">Movie Title</label>
            <input type="text" value='{{title}}' id="movietitle" name="movietitle" />
        </div>
        <div class="form-group">
            <input type="hidden" value="{{movieid}}" id="movieid" name="movieid" />
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="rating" id="rating" name="rating" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>